* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: 'Roboto';
    background-color: purple;
}


.header-container {
    background-color: #1f2937;
    color: white;
    padding-bottom: 48px;
}

.nav-bar {
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    margin-bottom: 48px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.header-img {
    width: 700px;
    height: 200px;
    background-color: red;
}

.header {
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.header-p {
    margin-bottom: 10px;
}

.btn-header {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100px;
}

/* Hero Section */

.hero-container {
    background-color: #f9faf8;

    /* margin: 0 auto; */

}

h2 {
    padding-top: 16px;
    font-size: 32px;
    text-align: center;
   margin-bottom: 48px;
}

.illustration-content {
    display: flex;
    width: 750px;
    justify-content: space-around;
    padding-bottom: 48px;

    margin: 0 auto;
}

.illustration-box {
    width: 140px;
    height: 140px;
    border: 3px #3882f6 solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.illustration-text {
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    width: 700px;
    margin: 0 auto;
    padding: 48px;
}

.quote-text {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 5px;
}

.author {
    font-size: 12px;
    font-weight: bold;
    text-align: end;
}

/* CALL TO ACTION */
.cta-container {
    background-color: white;
    padding: 48px;
}

.cta-box {
    width: 950px;
    background-color: #3882f6;
    margin: 0 auto;
    padding: 32px;
    color: white;

    display: flex;
    justify-content: space-around;
    border-radius: 10px;

}

.cta-btn {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid white;
    width: 100px;
    background-color: #3882f6;
    color: white;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 32px;
}