body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

.center-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1200px;
    background-color: grey;
    display: block;
    margin: 0 auto;
}

.header-container {
    background-color: #1f2937;
    color: white;

    padding-bottom: 48px;
}

.nav-bar {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    margin-bottom: 32px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.header-img {
    width: 700px;
    height: 200px;
    background-color: red;
}

.header {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 32px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.btn-header {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 100px;
}